.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.header {
  width: 100vw;
  height: 40vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h1 {
  color: white;
  font-size: 2.3rem;
  margin: 20px;
}
.header p {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
